html{
  max-width: 100%;
 
}
body{
  background-color: #f5f0f0;
  color:  #646262;
  font-family: sans-serif;
  max-width: 100%;
  margin: 0;
}
@media (max-width: 600px) {
  .product {
    flex: 1 1 100%; /* take full width on very small screens */
  }
}

/*NAV-BARS*/

h1{
  background-color: rgba(181, 166, 166, 0.4);
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 20px;
  color: #646262;
  font-size: 50px;
  font-weight: lighter;
  font-family: sans-serif;
  box-sizing: border-box;
  text-align: center;

}
.logo{
  color: #646262;
  font-weight: light;
  padding-top: 15px;
  margin-right: 20px;
  font-size: 30px;
  padding: 0;
  justify-content: center;
}
.search-bar{
  
  height: 40px;
 text-align: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgb(197, 188, 188);
  border-radius: 15px;
  margin-right: 20px;
  flex:1;
  max-width: 500px;
  
}
.container {
  display: flex;       /* Align items side by side */
  align-items: flex-start; /* Align at the top */
  gap: 20px;           /* Space between columns */
  padding: 20px;


}
.top-buttons{
display: flex;
  align-items: center;        /* vertically align */
  padding: 5px 10px;

}

.cart-button {
 margin-top: 0;
 border: none;
 background-color: transparent;
  width: 25px;
  height:25px;
  cursor: pointer;
   display: flex;
   color: #646262;
  justify-content: center;
  font-size: 15px;
   
}
.cart-link, .my-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px;
  text-decoration: none;
  color: #646262;
  font-size: 15px;

}
.cart-button,
.cart-text,
a[href="profile.html"] {
  margin-left: 15px;   /* small space before buttons */
}


a{
  text-decoration: none;
  color: #646262;
}
h2{
  font-weight: bold;
}

/*CATEGORIES*/

.categories{

 display: flex;
flex-direction: column;
gap: 10px;
text-align: left;
color: #3d3c3c;
margin-left: 20px;
cursor: pointer;
}
.category-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
}
.catbutton{
  background-color: rgba(215, 206, 206, 0.4);
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}
.nav-bar{
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
gap: 20px;
text-align: left;
  font-size: 15px;
  cursor: pointer;

 
}
.catagory-button{
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
 margin-bottom: 20px;

}

/*PRODUCTS*/

.products{
flex: 1;
align-items: center;
margin-right: 50px;
margin-left: 30px;

}
.product{
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
padding: 50px;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 300px;
}
.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-x: auto ;
    align-items: center;
    padding-bottom: 10px;
    overflow: hidden;
    
  }
.product-rating{
  align-items: center;
}

.rating-image {
  width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
margin-bottom: auto;
margin-top: 10px;
}
.product-img{
  width: 100px;
  height: 150px;
  display: flex;
 flex-wrap: nowrap;
  margin-left: 10px;
}

.addtocart{
  width: 100px;
  height:40px;
  background-color: rgba(215, 206, 206, 0.4);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  gap:30px;
  display: flex;
  flex-direction: column;
margin-top:10px;
padding: 7px 8px;
}

.addtocart:hover{
  background-color: rgb(197, 197, 202);
}
p{
  text-align: center;
}
.price{
  padding-top:15px;
  font-size: 20px;
  color: black;
}
.hidden {
  display: none;
}
